#insext, #insext * {
    box-sizing: border-box;
}
#insext {
    z-index: 1000;
    display: block;
    position: fixed;
    top: 205px;
    right: 0px;
    vertical-align: middle;
}
#insext .insext-popup {
    width: 220px;
    white-space: normal;
    position:absolute;
    background-color: #ffffff;
    right: 0;
    border-radius: 11px;
    border-top-right-radius: 0;
    z-index: 1;
    box-shadow: 1px 1px 5px;
    padding: 11px;
    display: block;
    font-size: 12px;
}
#insext .insext-btn {
    width: 15px;
    height: 33px;
    padding: 3px 1px 2px 0px;
    background-color: #226b86;
    border-width: 4px;
    border-style: solid;
    border-right-style: none;
    border-color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: -2px 0 2px #a0a6ab;
    opacity: 0.4;
}
#insext .insext-btn:hover {
    opacity: 1.0;
    width: 20px;
}
#insext.insext-active .insext-btn {
    opacity: 1.0;
    width: 20px; 
}
#insext .insext-btn img {
    width: 16px;
    height: 20px;
}
#insext .insext-btn img:hover {
    opacity: 1.0; 
 }
#insext button,
#insext input {
    width: 100%;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
#insext-spinner {
    animation: spin 1s cubic-bezier(.5, .4, .5, .6) infinite;
    font-weight: bold;
    font-size: 30px;
    width: 30px;
    height: 30px;
    line-height: 1;
    position: absolute;
    top: 2px;
    right: 2px;
}
#insext-thispage {
    margin-bottom: 10px;
}
#insext-showAllDataInp {
    font-size: .9em;
}
#insext-showStdPageDetailsBtn[disabled],
#insext-showAllDataBtn[disabled] {
	color: gray;
}
#insext .insext-meta {
    font-size: 12px;
    text-align: right;
}
#insext .insext-version {
    float: left;
    font-size: 0.8em;
    margin-top: 0.2em;
}