#insext, #insext * {
    box-sizing: content-box;
}
#insext {
    z-index: 1000;
    display: block;
    position: fixed;
    top: 205px;
    right: 0px;
    vertical-align: middle;
}
#insext .insext-popup {
    width: 200px;
    white-space: normal;
    position:absolute;
    background-color: #ffffff;
    right: 0;
    border-radius: 11px;
    border-top-right-radius: 0;
    z-index: 1;
    box-shadow: 1px 1px 5px;
    padding: 11px;
    display: block;
}
#insext .insext-btn {
    width: 10px;
    height: 20px;
    padding: 3px 1px 2px 0px;
    background-color: #226b86;
    border-width: 4px;
    border-style: solid;
    border-right-style: none;
    border-color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: -2px 0 2px #a0a6ab;
    opacity: 0.4;
}
#insext .insext-btn:hover {
    opacity: 1.0;
    width: 15px;
}
#insext.insext-active .insext-btn {
    opacity: 1.0;
    width: 15px; 
}
#insext .insext-btn img {
    width: 16px;
    height: 20px;
}
#insext .insext-btn img:hover {
    opacity: 1.0; 
 }
#insext button,
#insext input {
    width: 100%;
}
#insext-spinner {
	position: absolute;
}
#insext-showStdPageDetailsBtn[disabled],
#insext-showAllDataBtn[disabled] {
	color: gray;
}
#insext .insext-meta {
    font-size: 12px;
    text-align: right;
}
#insext .insext-version {
    float: left;
    font-size: 0.8em;
    margin-top: 0.2em;
}