.scrolltable-scrolled {
  position: relative;
}
.scrolltable-scrolled table {
  border-collapse: collapse;
  position: absolute;
}
.scrolltable-cell {
  border: 1px solid gray;
  overflow: hidden;
  padding: 0 1px;
  background-color: white;
  white-space: pre;
  box-sizing: border-box;
}
.scrolltable-cell.header {
  font-weight: bold;
}
.pop-menu {
  position: absolute;
  border: 1px solid gray;
  background-color: white;
  padding: 5px 10px;
  margin-left: 5px;
  margin-top: -5px;
}
.pop-menu a {
  display: block;
}
