* {
    box-sizing: border-box;
}
html, body {
    white-space: normal;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
body.loading {
    display: none;
}
.main {
    padding: 12px 8px;
    flex: 1;
}
.footer {
    padding: 12px 8px;
    background: #f4f6f9;
    border-top: 1px solid #d8dde6;
}
.header {
    background: #061c3f;
    padding: 8px;
    color: white;
    display: flex;
    align-items: center;
}
.header-icon {
    margin-right: 12px;
    background-color: #d8be5f;
    border-radius: 4px;
}
.header-icon>svg {
    line-height: 1;
    width: 24px;
    height: 24px;
    fill: white;
    vertical-align: middle;
}
a[href] {
    color: #0070d2;
    text-decoration: none;
    transition: color .1s linear;
}
a[href]:focus, a[href]:hover {
    text-decoration: underline;
    color: #005fb2;
}
a[href]:active {
    color: #00396b;
}
button,
input {
    width: 100%;
}
.button, button.button.button[disabled] {
    width: 100%;
    padding: 0 1rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #d8dde6;
    background-color: white;
    display: inline-block;
    border-radius: .25rem;
    line-height: 2.125rem;
    text-decoration: none;
    transition: color 50ms linear,background-color 50ms linear;
    color: #d8dde6;
    cursor: default;
}
button.button, a.button[href] {
    color: #0070d2;
    cursor: pointer;
}
button.button:hover, a[href].button:hover, .button:focus {
    background-color: #f4f6f9;
    color: #005fb2;
    text-decoration: none;
}
button.button:active, a[href]:active {
    background-color: #eef1f6;
    color: #00396b;
    text-decoration: none;
}
.button:focus {
    outline: 0;
    box-shadow: 0 0 3px #0070D2;
    text-decoration: none;
}
#thispage {
    margin-bottom: 10px;
}
#showAllDataInp {
    font-size: .9em;
    font: inherit;
    margin: 0;
    background-color: white;
    color: #16325c;
    border: 1px solid #d8dde6;
    border-radius: .25rem;
    width: 100%;
    transition: border .1s linear,background-color .1s linear;
    display: inline-block;
    padding: 0 1rem 0 .75rem;
    line-height: 2.125rem;
    min-height: calc(2.125rem + 2px);
}
#showAllDataInp:active, #showAllDataInp:focus {
    outline: 0;
    border-color: #1589ee;
    background-color: #fff;
    box-shadow: 0 0 3px #0070D2;
}
.button, #showAllDataInp {
    margin-bottom: 4px;
}
@keyframes bg-load {
  50% {
    background-color: #EEF6F1;
    color: #006B2D;
  }
}
#showAllDataInp.loading,
#showStdPageDetailsBtn.loading {
    animation: bg-load 1s cubic-bezier(.5, .4, .5, .6) infinite;
}
.meta {
    font-size: 12px;
    text-align: right;
}
.version {
    float: left;
    font-size: 0.8em;
    margin-top: 0.2em;
}
