* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  overflow: hidden;
  margin: 0 8px;
  height: 100%;
  display: flex;
}
#root {
  display: flex;
  flex-grow: 1;
  width: 100%;
}
[data-reactroot] {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
}
#user-info {
  background-color: #1797c0;
  color: white;
  padding: 0 1em;
  border-radius: 0 0 10px 10px;
  margin-bottom: 8px;
}
.sf-link {
  background-color: rgb(6, 28, 63);
  border-radius: 3px;
  line-height: 2em;
  text-decoration: none;
  display: inline-block;
  padding: 2px;
  color: white;
  padding-right: 1em;
}
.sf-link svg {
  width: 2em;
  height: 2em;
  display: block;
  margin-left: 1px;
  margin-right: 1em;
  float: left;
  background-color: #ef7ead;
  border-radius: 2px;
  fill: white;
}
#result-table {
  margin-top: 3px;
  overflow: auto;
  flex-basis: 0;
  flex-grow: 1;
  margin-bottom: 8px;
}
.conf-section {
  display: flex;
  flex-direction: row;
}
@media (max-width: 670px) {
  .conf-section {
    display: block;
  }
}
.conf-subsection {
  flex-grow: 1;
  flex-basis: 0;
}
.conf-label, .columns-label {
  font-weight: bold;
  color: #4a4a56;
}
.conf-label {
  display: inline-block;
  text-align: right;
  width: 90px;
  padding-right: 1em;
}
@media (max-width: 670px) {
  .columns-label {
    display: inline-block;
    text-align: right;
    width: 90px;
    padding-right: 1em;
  }
}
.conf-value {
  display: inline-block;
}
.conf-line textarea, .conf-line input[type=text], .conf-line select {
  width: 200px;
}
.conf-line {
  margin-top: 3px;
}
.conf-error {
  color: #a00;
  margin: 5px;
}
.confError {
  box-shadow: 0 0 4px 2px #a00;
}
.columns-mapping {
}
.columns-mapping .conf-label {
  display: block;
}
.columns-mapping .conf-value {
  overflow: auto;
  display: block;
  padding: 5px;
  max-height: 150px;
}
.columns-mapping .conf-line input[type=text] {
  width: 100%;
}
#data {
  resize: none;
  white-space: pre;
  word-wrap: normal;
  height: auto;
  overflow: hidden;
  text-align: center;
  color: #777;
  padding: 1.5em;
  font: inherit;
}
h1 {
  font-size: 1.2em;
  margin: 0px;
  display: inline;
}
.status-group {
  margin-top: 3px;
}
.status-group label {
  font-weight: bold;
  color: #4a4a56;
  padding-right: 15px;
  white-space: nowrap;
}
* {
  vertical-align: middle;
}
#import-help-btn {
  float: right;
  margin-top: 3px;
}
#spinner {
  position: absolute;
  left: -15px;
  top: -15px;
}
label.statusGroupEmpty {
  color: lightgray;
  font-weight: normal;
}
.batch-size {
  width: 3.4em;
}
.char-btn {
  color: white;
  text-decoration: none;
  background-color: gray;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  line-height: 14px;
  text-align: center;
}
#confirm-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
}

#confirm-dialog {
  width: 400px;
  position: relative;
  margin: 10% auto;
  border-radius: 10px;
  background: #fff;
  padding: 20px;
}
.dialog-buttons {
  text-align: center;
}
.button-space {
  margin-right: 20px;
}
