.doc-artefacts label {
	color: grey;
	margin-top: 10px;
	display: block;
}

.doc-artefacts textarea {
	width: 100%;
	display: block;
	border: solid 1px grey;
	font-size: 90%;
	background-color: #eeeeee;
}

.code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 95%;
	color: #16325c;
}

.button {
	margin-top: 15px;
	margin-bottom: 15px;
}

.progressBar {
	font-weight: bold;
	text-align: center;
	font-size: 1.2em;
}

.left {
	text-align: left;
}

.fixedHeightElm {
   overflow-y: scroll;
   height: 200px;
   display: block;
   border: solid 1px;
   padding: 5px;
   font-size: 0.8em;
}