* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  box-sizing: border-box;
}
select {
  width: 100%;
}
textarea {
  display:block;
  width: 100%;
  height: 15em;
  resize: vertical;
  word-wrap: normal;
  font-size: 11px;
}
li:hover {
  background-color: lightblue;
}
input[type=radio] {
  margin: 0;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
}
td,th {
  border: 1px solid gray;
  white-space: pre;
}
.edit-form label {
  display: flex;
  align-items: center;
  padding: 4px;
}
.edit-form label > :first-child {
  width: 100px;
  flex: unset;
}
.edit-form label > * {
  flex: 1;
}
.status-error {
  font-weight: bold;
  color: red;
}
