* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  margin: 0;
}
.sf-link {
  margin-right: 1em;
  background-color: rgb(6, 28, 63);
  border-radius: 3px;
  line-height: 2em;
  text-decoration: none;
  display: inline-block;
  padding: 2px;
  color: white;
  padding-right: 1em;
}
.sf-link svg {
  width: 2em;
  height: 2em;
  display: block;
  margin-left: 1px;
  margin-right: 1em;
  float: left;
  background-color: #ef7ead;
  border-radius: 2px;
  fill: white;
}
table {
  width: 100%;
  border-spacing: 0px;
}
.value-text {
  word-wrap: break-word;
  white-space: pre-wrap;
}
.value-blank {
  color: #aaa;
  font-style: italic;
}
.value-unknown {
  color: #aaa;
  font-style: italic;
}
tr.fieldCalculated {
  font-style: italic;
}
tr.fieldHidden, tr.fieldHidden a[href] {
  color: #777;
}
tr:hover {
  background-color: lightblue;
}
th {
  text-align: left;
}
.field-label {
  white-space: nowrap;
}
.field-name {
  white-space: nowrap;
}
.field-value {
  text-align: right;
  max-width: 200px; /* To handle long words. This is not actually 200px but scales with the table. Table layout magic. */
}
.field-value textarea {
  width: calc(100% - 20px);
  resize: vertical;
}
.undo-button {
  background-color: #eee;
  border-radius: 3px;
  width: 16px;
  height: 16px;
  display: inline-block;
  box-shadow: 1px 1px 1px gray;
  color: black;
  text-decoration: none;
  text-align: center;
  vertical-align: top;
  margin-top: 5px;
}
.field-type {
  text-align: right;
  width: 9em;
  min-width: 9em;
  max-width: 9em;
}
.field-actions {
  text-align: right;
  white-space: nowrap;
}
th[tabindex] {
  text-decoration: underline;
  cursor: pointer;
  color: darkblue;
}
#fieldDetailsView {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
}

#fieldDetailsView > div.container {
  width: 600px;
  height: 500px;
  position: relative;
  margin: 10% auto;
  border-radius: 10px;
  background: #fff;
}
#fieldDetailsView > div.container > div.mainContent {
  overflow: auto;
  height: 470px;
  padding: 5px 20px 13px 20px;
}
.closeLnk {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 1px 1px 3px #000;
}
.closeLnk:hover {
  background: #00d9ff;
}
#fieldDetailsView td {
  white-space: pre;
}
#fieldDetailsView .isString {
  color: #990;
}
#fieldDetailsView .isNumber {
  color: #909;
}
#fieldDetailsView .isBoolean {
  color: #099;
}
.filter-box {
  white-space: nowrap;
}
.filter-input {
  width: 20em;
}
h1 {
  margin: 0 0 8px;
}
.error-message {
  font-size: 1.2em;
  font-weight: bold;
  margin: .5em 0;
  background-color: #fe3;
  padding: .5em;
  border: 1px solid red;
  border-radius: 7px;
}
#spinner {
  position: absolute;
  left: -15px;
  top: -15px;
}
.object-bar {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  align-items: center;
}
.column-toggles {
  flex-grow: 1;
  text-align: center;
}
.column-toggles label {
  margin: 0 5px;
}
.body {
  padding: 3.8em 8px 8px;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.body.empty {
  animation: spin 4s linear infinite;
}
.child-actions {
  text-align: right;
  white-space: nowrap;
}
.char-btn {
  color: white;
  text-decoration: none;
  background-color: gray;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  line-height: 14px;
  text-align: center;
  margin-left: -22px;
}
