* {
    box-sizing: border-box;
}
html, body {
    white-space: normal;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100%;
}
body {
    font-size: .8125rem;
}
body, #root, [data-reactroot] {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.main {
    flex: 1;
    overflow-y: scroll;
}
.footer {
    padding: 12px 8px;
    background: #f4f6f9;
    border-top: 1px solid #d8dde6;
}
.header {
    background: #061c3f;
    padding: 8px;
    color: white;
    display: flex;
    align-items: center;
}
.header-icon {
    margin-right: 12px;
    background-color: #d8be5f;
    border-radius: 4px;
}
.header-icon>svg {
    line-height: 1;
    width: 24px;
    height: 24px;
    fill: white;
    vertical-align: middle;
}
a {
    color: #d8dde6;
}
a[href] {
    color: #0070d2;
    text-decoration: none;
    transition: color .1s linear;
}
a[href]:focus, a[href]:hover {
    text-decoration: underline;
    color: #005fb2;
}
a[href]:active {
    color: #00396b;
}
button,
input {
    width: 100%;
}
.button, button.button.button[disabled], .base-button {
    width: 100%;
    padding: 0 1rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #d8dde6;
    background-color: white;
    display: inline-block;
    border-radius: .25rem;
    line-height: 1.875rem;
    text-decoration: none;
    transition: color 50ms linear,background-color 50ms linear;
    color: #d8dde6;
    cursor: default;
    margin-bottom: 4px;
}
.button:last-child, button.button.button[disabled]:last-child, .base-button:last-child {
    margin-bottom: 0;
}
.base-button {
    border: none;
}
button.button, a.button[href], a.base-button[href] {
    color: #0070d2;
    cursor: pointer;
    font-family: unset;
    font-size: unset;
}
button.button:hover, a[href].button:hover, .button:focus {
    background-color: #f4f6f9;
    color: #005fb2;
    text-decoration: none;
}
button.button:active, a[href]:active {
    background-color: #eef1f6;
    color: #00396b;
    text-decoration: none;
}
.button:focus {
    outline: 0;
    box-shadow: 0 0 3px #0070D2;
    text-decoration: none;
}
.global-box, .all-data-box {
    padding: 12px 8px;
}
.all-data-box {
    border-bottom: 1px solid #d8dde6;
}
.all-data-input {
    font-size: .9em;
    font: inherit;
    width: 100%;
    background-color: white;
    color: #16325c;
    border: 1px solid #d8dde6;
    border-radius: .25rem;
    transition: border .1s linear,background-color .1s linear;
    display: inline-block;
    padding: 0 2rem 0 .75rem;
    line-height: 1.875rem;
    vertical-align: middle;
    flex-grow: 1;
}
.all-data-input:active, .all-data-input:focus {
    outline: 0;
    border-color: #1589ee;
    background-color: #fff;
    box-shadow: 0 0 3px #0070D2;
}
.all-data-box-inner {
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    min-height: 12em; /* should be heigh enough so the buttons below don't jump around when the contents of this box loads */
    color: #54698d;
    line-height: 1.5;
}
.all-data-box-inner.empty {
    justify-content: center;
    align-items: center;
}
.all-data-box-data {
    flex: 1;
}
.data-element {
}
.input-with-dropdown {
    position: relative;
    flex-grow: 1;
}
.input-with-dropdown svg {
    width: .75rem;
    height: .75rem;
    position: absolute;
    right: 1rem;
    top: 50%;
    margin-top: -.375rem;
    fill: #54698d;
}
.autocomplete-container {
    position: relative;
}
.autocomplete {
    border: 1px solid #d8dde6;
    border-radius: .25rem;
    padding: .25rem 0;
    background-color: white;
    max-height: 260px;
    position: absolute;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.autocomplete-item {
    display: block;
    padding: .25rem .5rem;
    color: #16325c;
    line-height: 1.5;
    cursor: pointer;
}
.autocomplete-item-main, .autocomplete-item-sub, .data-element {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.autocomplete-item-sub {
    font-size: .75rem;
    color: #54698d;
    margin-top: -.25rem;
}
.autocomplete-item mark {
    font-weight: 700;
    background-color: transparent;
}
.autocomplete-item.selected {
    background-color: #f4f6f9;
}
@keyframes bg-load {
  50% {
    background-color: #EEF6F1;
    color: #006B2D;
  }
}
.all-data-box.loading,
#showStdPageDetailsBtn.loading {
    animation: bg-load 1s cubic-bezier(.5, .4, .5, .6) infinite;
}
.meta {
    font-size: 12px;
    text-align: right;
}
.version {
    float: left;
    font-size: 0.8em;
    margin-top: 0.2em;
}
