.slds-spinner_container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9050;
    background-color: rgba(255, 255, 255, .75);
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .2s ease, visibility 0s;
    transition: opacity .2s ease, visibility 0s;
    -webkit-transition-delay: 0s, .3s;
    transition-delay: 0s, .3s
}

.slds-spinner_container.is-hidden {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .2s ease, visibility 0s;
    transition: opacity .2s ease, visibility 0s;
    -webkit-transition-delay: 0s, 0s;
    transition-delay: 0s, 0s
}

.slds-spinner_container.hide {
    display: none
}

.slds-spinner {
    position: absolute;
    top: 50%;
    /*! @noflip */
    left: 50%;
    z-index: 9051;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg)
}

.slds-spinner_inline {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    -webkit-transform: none;
    transform: none
}

.slds-spinner,
.slds-spinner__dot-a,
.slds-spinner__dot-b {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    will-change: transform
}

.slds-spinner__dot-a,
.slds-spinner__dot-b {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

.slds-spinner:after,
.slds-spinner:before,
.slds-spinner__dot-a:after,
.slds-spinner__dot-a:before,
.slds-spinner__dot-b:after,
.slds-spinner__dot-b:before {
    content: "";
    position: absolute;
    background: #0070d2;
    border-radius: 50%;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.slds-spinner__dot-a {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg)
}

.slds-spinner__dot-b {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg)
}

.slds-spinner:before {
    -webkit-animation-delay: -.083s;
    animation-delay: -.083s
}

.slds-spinner__dot-a:before {
    -webkit-animation-delay: .083s;
    animation-delay: .083s
}

.slds-spinner__dot-b:before {
    -webkit-animation-delay: 250ms;
    animation-delay: 250ms
}

.slds-spinner:after {
    -webkit-animation-delay: .416s;
    animation-delay: .416s
}

.slds-spinner__dot-a:after {
    -webkit-animation-delay: .583s;
    animation-delay: .583s
}

.slds-spinner__dot-b:after {
    -webkit-animation-delay: 750ms;
    animation-delay: 750ms
}

.slds-spinner_delayed:before {
    -webkit-animation-delay: .216s;
    animation-delay: .216s
}

.slds-spinner_delayed .slds-spinner__dot-a:before {
    -webkit-animation-delay: .383s;
    animation-delay: .383s
}

.slds-spinner_delayed .slds-spinner__dot-b:before {
    -webkit-animation-delay: 550ms;
    animation-delay: 550ms
}

.slds-spinner_delayed:after {
    -webkit-animation-delay: .716s;
    animation-delay: .716s
}

.slds-spinner_delayed .slds-spinner__dot-a:after {
    -webkit-animation-delay: .883s;
    animation-delay: .883s
}

.slds-spinner_delayed .slds-spinner__dot-b:after {
    -webkit-animation-delay: 1.05s;
    animation-delay: 1.05s
}

.slds-spinner--brand .slds-spinner__dot-a:after,
.slds-spinner--brand .slds-spinner__dot-a:before,
.slds-spinner--brand .slds-spinner__dot-b:after,
.slds-spinner--brand .slds-spinner__dot-b:before,
.slds-spinner--brand.slds-spinner:after,
.slds-spinner--brand.slds-spinner:before,
.slds-spinner_brand .slds-spinner__dot-a:after,
.slds-spinner_brand .slds-spinner__dot-a:before,
.slds-spinner_brand .slds-spinner__dot-b:after,
.slds-spinner_brand .slds-spinner__dot-b:before,
.slds-spinner_brand.slds-spinner:after,
.slds-spinner_brand.slds-spinner:before {
    background-color: #1589ee
}

.slds-spinner--inverse .slds-spinner__dot-a:after,
.slds-spinner--inverse .slds-spinner__dot-a:before,
.slds-spinner--inverse .slds-spinner__dot-b:after,
.slds-spinner--inverse .slds-spinner__dot-b:before,
.slds-spinner--inverse.slds-spinner:after,
.slds-spinner--inverse.slds-spinner:before,
.slds-spinner_inverse .slds-spinner__dot-a:after,
.slds-spinner_inverse .slds-spinner__dot-a:before,
.slds-spinner_inverse .slds-spinner__dot-b:after,
.slds-spinner_inverse .slds-spinner__dot-b:before,
.slds-spinner_inverse.slds-spinner:after,
.slds-spinner_inverse.slds-spinner:before {
    background-color: #fff
}

.slds-spinner--xx-small,
.slds-spinner_xx-small {
    width: .5rem
}

.slds-spinner--xx-small.slds-spinner_inline,
.slds-spinner_xx-small.slds-spinner_inline {
    height: .5rem
}

.slds-spinner--xx-small .slds-spinner__dot-a:after,
.slds-spinner--xx-small .slds-spinner__dot-a:before,
.slds-spinner--xx-small .slds-spinner__dot-b:after,
.slds-spinner--xx-small .slds-spinner__dot-b:before,
.slds-spinner--xx-small.slds-spinner:after,
.slds-spinner--xx-small.slds-spinner:before,
.slds-spinner_xx-small .slds-spinner__dot-a:after,
.slds-spinner_xx-small .slds-spinner__dot-a:before,
.slds-spinner_xx-small .slds-spinner__dot-b:after,
.slds-spinner_xx-small .slds-spinner__dot-b:before,
.slds-spinner_xx-small.slds-spinner:after,
.slds-spinner_xx-small.slds-spinner:before {
    width: .125rem;
    height: .125rem
}

.slds-spinner--xx-small .slds-spinner__dot-a:before,
.slds-spinner--xx-small .slds-spinner__dot-b:before,
.slds-spinner--xx-small.slds-spinner:before,
.slds-spinner_xx-small .slds-spinner__dot-a:before,
.slds-spinner_xx-small .slds-spinner__dot-b:before,
.slds-spinner_xx-small.slds-spinner:before {
    top: -.0625rem;
    left: -.0625rem;
    -webkit-animation-name: dotsBounceBefore-extraExtraSmall;
    animation-name: dotsBounceBefore-extraExtraSmall
}

.slds-spinner--xx-small .slds-spinner__dot-a:after,
.slds-spinner--xx-small .slds-spinner__dot-b:after,
.slds-spinner--xx-small.slds-spinner:after,
.slds-spinner_xx-small .slds-spinner__dot-a:after,
.slds-spinner_xx-small .slds-spinner__dot-b:after,
.slds-spinner_xx-small.slds-spinner:after {
    top: -.0625rem;
    right: -.0625rem;
    -webkit-animation-name: dotsBounceAfter-extraExtraSmall;
    animation-name: dotsBounceAfter-extraExtraSmall
}

@-webkit-keyframes dotsBounceBefore-extraExtraSmall {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    60% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.275, .0425, .34, .265);
        animation-timing-function: cubic-bezier(.275, .0425, .34, .265)
    }

    80% {
        -webkit-transform: translate3d(-.125rem, 0, 0);
        transform: translate3d(-.125rem, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0, .555, .35, .715);
        animation-timing-function: cubic-bezier(0, .555, .35, .715)
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes dotsBounceBefore-extraExtraSmall {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    60% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.275, .0425, .34, .265);
        animation-timing-function: cubic-bezier(.275, .0425, .34, .265)
    }

    80% {
        -webkit-transform: translate3d(-.125rem, 0, 0);
        transform: translate3d(-.125rem, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0, .555, .35, .715);
        animation-timing-function: cubic-bezier(0, .555, .35, .715)
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes dotsBounceAfter-extraExtraSmall {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    60% {
        -webkit-animation-timing-function: cubic-bezier(.275, .0425, .34, .265);
        animation-timing-function: cubic-bezier(.275, .0425, .34, .265);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    80% {
        -webkit-animation-timing-function: cubic-bezier(0, .555, .35, .715);
        animation-timing-function: cubic-bezier(0, .555, .35, .715);
        -webkit-transform: translate3d(.125rem, 0, 0);
        transform: translate3d(.125rem, 0, 0)
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes dotsBounceAfter-extraExtraSmall {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    60% {
        -webkit-animation-timing-function: cubic-bezier(.275, .0425, .34, .265);
        animation-timing-function: cubic-bezier(.275, .0425, .34, .265);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    80% {
        -webkit-animation-timing-function: cubic-bezier(0, .555, .35, .715);
        animation-timing-function: cubic-bezier(0, .555, .35, .715);
        -webkit-transform: translate3d(.125rem, 0, 0);
        transform: translate3d(.125rem, 0, 0)
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.slds-spinner--x-small,
.slds-spinner_x-small {
    width: 1rem
}

.slds-spinner--x-small.slds-spinner_inline,
.slds-spinner_x-small.slds-spinner_inline {
    height: 1rem
}

.slds-spinner--x-small .slds-spinner__dot-a:after,
.slds-spinner--x-small .slds-spinner__dot-a:before,
.slds-spinner--x-small .slds-spinner__dot-b:after,
.slds-spinner--x-small .slds-spinner__dot-b:before,
.slds-spinner--x-small.slds-spinner:after,
.slds-spinner--x-small.slds-spinner:before,
.slds-spinner_x-small .slds-spinner__dot-a:after,
.slds-spinner_x-small .slds-spinner__dot-a:before,
.slds-spinner_x-small .slds-spinner__dot-b:after,
.slds-spinner_x-small .slds-spinner__dot-b:before,
.slds-spinner_x-small.slds-spinner:after,
.slds-spinner_x-small.slds-spinner:before {
    width: .25rem;
    height: .25rem
}

.slds-spinner--x-small .slds-spinner__dot-a:before,
.slds-spinner--x-small .slds-spinner__dot-b:before,
.slds-spinner--x-small.slds-spinner:before,
.slds-spinner_x-small .slds-spinner__dot-a:before,
.slds-spinner_x-small .slds-spinner__dot-b:before,
.slds-spinner_x-small.slds-spinner:before {
    top: -.125rem;
    left: -.125rem;
    -webkit-animation-name: dotsBounceBefore-extraSmall;
    animation-name: dotsBounceBefore-extraSmall
}

.slds-spinner--x-small .slds-spinner__dot-a:after,
.slds-spinner--x-small .slds-spinner__dot-b:after,
.slds-spinner--x-small.slds-spinner:after,
.slds-spinner_x-small .slds-spinner__dot-a:after,
.slds-spinner_x-small .slds-spinner__dot-b:after,
.slds-spinner_x-small.slds-spinner:after {
    top: -.125rem;
    right: -.125rem;
    -webkit-animation-name: dotsBounceAfter-extraSmall;
    animation-name: dotsBounceAfter-extraSmall
}

@-webkit-keyframes dotsBounceBefore-extraSmall {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    60% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.55, .085, .68, .53);
        animation-timing-function: cubic-bezier(.55, .085, .68, .53)
    }

    80% {
        -webkit-transform: translate3d(-.25rem, 0, 0);
        transform: translate3d(-.25rem, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43);
        animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43)
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes dotsBounceBefore-extraSmall {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    60% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.55, .085, .68, .53);
        animation-timing-function: cubic-bezier(.55, .085, .68, .53)
    }

    80% {
        -webkit-transform: translate3d(-.25rem, 0, 0);
        transform: translate3d(-.25rem, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43);
        animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43)
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes dotsBounceAfter-extraSmall {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    60% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.55, .085, .68, .53);
        animation-timing-function: cubic-bezier(.55, .085, .68, .53)
    }

    80% {
        -webkit-transform: translate3d(.25rem, 0, 0);
        transform: translate3d(.25rem, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43);
        animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43)
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes dotsBounceAfter-extraSmall {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    60% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.55, .085, .68, .53);
        animation-timing-function: cubic-bezier(.55, .085, .68, .53)
    }

    80% {
        -webkit-transform: translate3d(.25rem, 0, 0);
        transform: translate3d(.25rem, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43);
        animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43)
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.slds-spinner--small,
.slds-spinner_small {
    width: 1.25rem
}

.slds-spinner--small.slds-spinner_inline,
.slds-spinner_small.slds-spinner_inline {
    height: 1.25rem
}

.slds-spinner--small .slds-spinner__dot-a:after,
.slds-spinner--small .slds-spinner__dot-a:before,
.slds-spinner--small .slds-spinner__dot-b:after,
.slds-spinner--small .slds-spinner__dot-b:before,
.slds-spinner--small.slds-spinner:after,
.slds-spinner--small.slds-spinner:before,
.slds-spinner_small .slds-spinner__dot-a:after,
.slds-spinner_small .slds-spinner__dot-a:before,
.slds-spinner_small .slds-spinner__dot-b:after,
.slds-spinner_small .slds-spinner__dot-b:before,
.slds-spinner_small.slds-spinner:after,
.slds-spinner_small.slds-spinner:before {
    width: .25rem;
    height: .25rem
}

.slds-spinner--small .slds-spinner__dot-a:before,
.slds-spinner--small .slds-spinner__dot-b:before,
.slds-spinner--small.slds-spinner:before,
.slds-spinner_small .slds-spinner__dot-a:before,
.slds-spinner_small .slds-spinner__dot-b:before,
.slds-spinner_small.slds-spinner:before {
    top: -.125rem;
    left: -.125rem;
    -webkit-animation-name: dotsBounceBefore-small;
    animation-name: dotsBounceBefore-small
}

.slds-spinner--small .slds-spinner__dot-a:after,
.slds-spinner--small .slds-spinner__dot-b:after,
.slds-spinner--small.slds-spinner:after,
.slds-spinner_small .slds-spinner__dot-a:after,
.slds-spinner_small .slds-spinner__dot-b:after,
.slds-spinner_small.slds-spinner:after {
    top: -.125rem;
    right: -.125rem;
    -webkit-animation-name: dotsBounceAfter-small;
    animation-name: dotsBounceAfter-small
}

@-webkit-keyframes dotsBounceBefore-small {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    60% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.55, .085, .68, .53);
        animation-timing-function: cubic-bezier(.55, .085, .68, .53)
    }

    80% {
        -webkit-transform: translate3d(-.375rem, 0, 0);
        transform: translate3d(-.375rem, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43);
        animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43)
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes dotsBounceBefore-small {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    60% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.55, .085, .68, .53);
        animation-timing-function: cubic-bezier(.55, .085, .68, .53)
    }

    80% {
        -webkit-transform: translate3d(-.375rem, 0, 0);
        transform: translate3d(-.375rem, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43);
        animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43)
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes dotsBounceAfter-small {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    60% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.55, .085, .68, .53);
        animation-timing-function: cubic-bezier(.55, .085, .68, .53)
    }

    80% {
        -webkit-transform: translate3d(.375rem, 0, 0);
        transform: translate3d(.375rem, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43);
        animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43)
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes dotsBounceAfter-small {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    60% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.55, .085, .68, .53);
        animation-timing-function: cubic-bezier(.55, .085, .68, .53)
    }

    80% {
        -webkit-transform: translate3d(.375rem, 0, 0);
        transform: translate3d(.375rem, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43);
        animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43)
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

.slds-spinner--medium,
.slds-spinner_medium {
    width: 2rem
}

.slds-spinner--medium.slds-spinner_inline,
.slds-spinner_medium.slds-spinner_inline {
    height: 2rem
}

.slds-spinner--medium .slds-spinner__dot-a:after,
.slds-spinner--medium .slds-spinner__dot-a:before,
.slds-spinner--medium .slds-spinner__dot-b:after,
.slds-spinner--medium .slds-spinner__dot-b:before,
.slds-spinner--medium.slds-spinner:after,
.slds-spinner--medium.slds-spinner:before,
.slds-spinner_medium .slds-spinner__dot-a:after,
.slds-spinner_medium .slds-spinner__dot-a:before,
.slds-spinner_medium .slds-spinner__dot-b:after,
.slds-spinner_medium .slds-spinner__dot-b:before,
.slds-spinner_medium.slds-spinner:after,
.slds-spinner_medium.slds-spinner:before {
    width: .5rem;
    height: .5rem
}

.slds-spinner--medium .slds-spinner__dot-a:before,
.slds-spinner--medium .slds-spinner__dot-b:before,
.slds-spinner--medium.slds-spinner:before,
.slds-spinner_medium .slds-spinner__dot-a:before,
.slds-spinner_medium .slds-spinner__dot-b:before,
.slds-spinner_medium.slds-spinner:before {
    -webkit-animation-name: dotsBounceBefore-medium;
    animation-name: dotsBounceBefore-medium;
    top: -.25rem;
    left: -.25rem;
}

.slds-spinner--medium .slds-spinner__dot-a:after,
.slds-spinner--medium .slds-spinner__dot-b:after,
.slds-spinner--medium.slds-spinner:after,
.slds-spinner_medium .slds-spinner__dot-a:after,
.slds-spinner_medium .slds-spinner__dot-b:after,
.slds-spinner_medium.slds-spinner:after {
    -webkit-animation-name: dotsBounceAfter-medium;
    animation-name: dotsBounceAfter-medium;
    top: -.25rem;
    right: -.25rem
}

@-webkit-keyframes dotsBounceBefore-medium {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    60% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.55, .085, .68, .53);
        animation-timing-function: cubic-bezier(.55, .085, .68, .53)
    }

    80% {
        -webkit-transform: translate3d(-.5rem, 0, 0);
        transform: translate3d(-.5rem, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43);
        animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43)
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes dotsBounceBefore-medium {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    60% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.55, .085, .68, .53);
        animation-timing-function: cubic-bezier(.55, .085, .68, .53)
    }

    80% {
        -webkit-transform: translate3d(-.5rem, 0, 0);
        transform: translate3d(-.5rem, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43);
        animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43)
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes dotsBounceAfter-medium {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    60% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.55, .085, .68, .53);
        animation-timing-function: cubic-bezier(.55, .085, .68, .53)
    }

    80% {
        -webkit-transform: translate3d(.5rem, 0, 0);
        transform: translate3d(.5rem, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43);
        animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43)
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes dotsBounceAfter-medium {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    60% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.55, .085, .68, .53);
        animation-timing-function: cubic-bezier(.55, .085, .68, .53)
    }

    80% {
        -webkit-transform: translate3d(.5rem, 0, 0);
        transform: translate3d(.5rem, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43);
        animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43)
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

.slds-spinner--large,
.slds-spinner_large {
    width: 2.75rem
}

.slds-spinner--large.slds-spinner_inline,
.slds-spinner_large.slds-spinner_inline {
    height: 2.75rem
}

.slds-spinner--large .slds-spinner__dot-a:after,
.slds-spinner--large .slds-spinner__dot-a:before,
.slds-spinner--large .slds-spinner__dot-b:after,
.slds-spinner--large .slds-spinner__dot-b:before,
.slds-spinner--large.slds-spinner:after,
.slds-spinner--large.slds-spinner:before,
.slds-spinner_large .slds-spinner__dot-a:after,
.slds-spinner_large .slds-spinner__dot-a:before,
.slds-spinner_large .slds-spinner__dot-b:after,
.slds-spinner_large .slds-spinner__dot-b:before,
.slds-spinner_large.slds-spinner:after,
.slds-spinner_large.slds-spinner:before {
    width: .625rem;
    height: .625rem
}

.slds-spinner--large .slds-spinner__dot-a:before,
.slds-spinner--large .slds-spinner__dot-b:before,
.slds-spinner--large.slds-spinner:before,
.slds-spinner_large .slds-spinner__dot-a:before,
.slds-spinner_large .slds-spinner__dot-b:before,
.slds-spinner_large.slds-spinner:before {
    -webkit-animation-name: dotsBounceBefore-medium;
    animation-name: dotsBounceBefore-medium;
    top: -.3125rem;
    left: -.3125rem
}

.slds-spinner--large .slds-spinner__dot-a:after,
.slds-spinner--large .slds-spinner__dot-b:after,
.slds-spinner--large.slds-spinner:after,
.slds-spinner_large .slds-spinner__dot-a:after,
.slds-spinner_large .slds-spinner__dot-b:after,
.slds-spinner_large.slds-spinner:after {
    -webkit-animation-name: dotsBounceAfter-medium;
    animation-name: dotsBounceAfter-medium;
    top: -.3125rem;
    right: -.3125rem
}

@-webkit-keyframes dotsBounceBefore-large {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    60% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.55, .085, .68, .53);
        animation-timing-function: cubic-bezier(.55, .085, .68, .53)
    }

    80% {
        -webkit-transform: translate3d(-.75rem, 0, 0);
        transform: translate3d(-.75rem, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43);
        animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43)
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes dotsBounceBefore-large {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    60% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.55, .085, .68, .53);
        animation-timing-function: cubic-bezier(.55, .085, .68, .53)
    }

    80% {
        -webkit-transform: translate3d(-.75rem, 0, 0);
        transform: translate3d(-.75rem, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43);
        animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43)
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@-webkit-keyframes dotsBounceAfter-large {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    60% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.55, .085, .68, .53);
        animation-timing-function: cubic-bezier(.55, .085, .68, .53)
    }

    80% {
        -webkit-transform: translate3d(.75rem, 0, 0);
        transform: translate3d(.75rem, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43);
        animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43)
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes dotsBounceAfter-large {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    60% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.55, .085, .68, .53);
        animation-timing-function: cubic-bezier(.55, .085, .68, .53)
    }

    80% {
        -webkit-transform: translate3d(.75rem, 0, 0);
        transform: translate3d(.75rem, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43);
        animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43)
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}